<div class="container container-upload">
  <form class="form-upload" action="add-form" method="POST">
    <div class="mb-3">
      <label for="judul" class="form-label">Judul</label>
      <input name="title" type="text" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="deskripsi" class="form-label">Deskripsi</label>
      <textarea
        name="description"
        class="form-control"
        rows="3"
        required
      ></textarea>
    </div>
    <button
      style="text-decoration: none; background-color: #416b8b; color: #fff"
      type="submit"
      class="btn"
    >
      Submit
    </button>
  </form>
</div>
