html, body{
  height: 100%;
  background-color: #EAECF1 !important;
}


.global-container{
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.login-form{
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: white !important;
  border-radius: 10px !important;
}

input[type="email"],
input[type="password"]
input[type="text"]{
  background:#5e85a3 ;
  color: rgb(90, 88, 88);
  border: 0px ;
  border-radius: 10px;
  border-bottom: 25px;
}

input[type="email"]:focus
input[type="password"]:focus {
  outline: none;
  border: none;
  background: #A5B5C1;
  color: #A5B5C1;
  margin: 0;

}


.card-tittle{
  font-weight: 0px ;
  padding-top: 10px;
}

.btn.btn-primary{
  background-color: #416B8B;
  color: white;
  transform: translateY(10px);
  font-size: 14px;
  border-radius: 10px !important;

}



