@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Macondo&family=Merriweather:wght@300;700&family=Montserrat:wght@500&family=Neonderthaw&family=Pacifico&family=Paytone+One&family=Plus+Jakarta+Sans:wght@800&family=Poppins:wght@300&family=Raleway:wght@200;400&display=swap");
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #3c5a67 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #3c5a67;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #a5b5c1;
}
section {
  display: grid;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
  grid-template-columns: 200px 1fr;
}

.toggle {
  cursor: pointer;
  padding: 10px;
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggle span {
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 1px;
  background-color: #34495e;
  transition: 0.5s;
}
.toggle span:nth-child(2) {
  margin: 4px 0px;
}

.toggle-js span {
  position: absolute;
}

.toggle-js span:nth-child(2) {
  transform: translatex(30px);
  opacity: 0;
}
.toggle-js span:nth-child(1) {
  transform: rotate(-45deg);
}
.toggle-js span:nth-child(3) {
  transform: rotate(45deg);
}

aside {
  grid-area: aside;
  width: 0px;
  min-height: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #2c3e50;
  position: relative;
  transition: 0.2s;
}

.company-name {
  width: 100%;
  height: 60px;
  background-color: #2e2c2c;
}

.company-name a img {
  width: 35px;
}

.company-name a {
  text-decoration: none;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

aside .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
aside .menu a {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  text-decoration: none;
  font-family: "poppins";
  text-transform: uppercase;
  padding: 15px 15px 15px 14px;
  transition: 0.2s;
}
aside .menu a:hover {
  background-color: #141d25;
  color: #7ed6df;
}

aside .menu a span i {
  font-size: 20px;
}

aside .menu a span {
  margin-bottom: 0;
  margin-left: 11px;
}

aside .user-js {
  display: none;
  opacity: 0;
}

.menu-js a .link {
  display: none;
}

aside.aside-js {
  width: 70px;
}

main.main-js {
  width: 110%;
  margin-left: -127px;
}

.company-name-js a {
  display: none;
}

main {
  grid-area: main;
  width: 100%;
  height: 100vh;
  padding: 45px;
  overflow-y: scroll;
  background-color: #eaecf1;
  transition: 0.2s;
}

.container-main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.btn-add-form {
  margin-bottom: 20px;
}

.wrapper-postingan {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
}

.postingan {
  text-decoration: none;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 2px -2px,
    rgba(0, 0, 0, 0.3) 0px 2px 2px -2px;
  border-radius: 5px;
  transition: 0.3s;
}

.postingan:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@media (max-width: 800px) {
  .wrapper-postingan {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  aside {
    width: 70px;
  }

  .menu a .link {
    display: none;
  }

  aside .user {
    display: none;
  }

  main {
    width: 128%;
    margin-left: -143px;
  }

  .company-name span {
    display: none;
  }
  .company-name-js a {
    display: flex;
  }
  main.main-js {
    width: 124%;
    margin-left: -127px;
  }
}

.judul-form {
  cursor: pointer;
  color: #06132c;
  font-size: 18px;
  transition: 0.5s;
  margin-bottom: 5px;
}

.judul-form:hover {
  color: #06132c;
}

.postingan .top .judul {
  display: flex;
  flex-direction: row;
}

.deskripsi {
  font-size: 14px;
  color: #6c6c6c;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postingan .bottom .pengguna {
  display: flex;
  gap: 3px;
  justify-content: start;
  align-items: center;
}

.postingan .bottom .pengguna .nama-uploader .nama {
  font-weight: bold;
  color: #646363;
}
.postingan .bottom .pengguna .nama-uploader span {
  color: #646363;
}

.postingan .bottom .pengguna .pic-uploader img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.container-upload {
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.form-upload {
  padding: 30px;
}

.wrapper-detail-form {
  position: relative;
  padding: 30px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
}

.btn-download {
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #416b8b;
  transition: 0.2s;
  margin-top: -40px;
  color: #fff;
}

.btn-download:hover {
  background-color: #305068;
}

.btn.position-absolute.top-50.start-50.translate-middle {
  background-color: #416b8b;
}

.submitted-info {
  color: #a3a2a2;
  font-size: 13px;
}

.alert {
  display: flex;
  justify-content: space-between;
}
